{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{% static 'admin.css' %}" />
    <script src="{% static 'js/real_time.js' %}"></script>
    <script src="{% static 'js/time_now.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="profile">
        <div class="contents">
          <div class="greetings">
            <p>
              WELCOME BACK <br />
              <span class="name"> Your Name</span>
            </p>
          </div>

          <div class="image">
            <img src="{% static 'mikhy.jpg' %}" alt="" />
          </div>
        </div>
      </div>

      <div class="dashboard">
        <div class="totalincome">
          <div class="total-content">
            <div class="total-income">
              <p>Total Income</p>
            </div>
            <div class="total-price">
              <p>{{totalIncome}}</p>
            </div>
          </div>
        </div>

        <div class="total-users">
          <div class="total-user">
            <p>Total Users</p>
            <div class="user-count">
              <p>{{userCount}}</p>
            </div>
          </div>
        </div>

        <div class="total-purchases">
          <div class="total-purchase">
            <p>Product Purchased</p>
          </div>
          <div class="purchase-count">
            <p>{{totalpurch}}</p>
          </div>
        </div>

        <div class="percent-purchases">
          <div class="percent-purchase">
            <p>Time</p>
          </div>
          <div class="purchase-percentage">
            <div style="font-size: 15px; color: beige" id="time"></div>
          </div>
        </div>
      </div>

      <div class="user-checked-out">
        {% for order in ordered %}
        <div class="user-checked-out">
          <div class="list-of-user">
            <div
              class="user-out {% if order.is_complete == 'YES' %} done {% endif %}"
            >
              <p id="orderFullName">{{order.full_name}} checked out.</p>
              <a href="{% url 'whoordered' order.full_name %}"
                ><button>View</button></a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="footer">
        <div class="footer-container">
          <div class="stats">
            <a href="{% url 'adminPanel' %}">
              <img
                height="30em"
                src="{% static 'statistics-graph-stats-analytics-business-data-svgrepo-com.svg' %}"
                alt=""
              />
            </a>
          </div>
          <div class="receipt">
            <a href="{% url 'receipt' %}">
              <img
                height="30em"
                src="{% static 'receipt-alt-svgrepo-com.svg' %}"
                alt=""
            /></a>
          </div>
          <div class="products">
            <a href="{% url 'productmng' %}">
              <img
                height="30em"
                src="{% static 'product-o-svgrepo-com.svg' %}"
                alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
