{% load static %} {% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="{% static 'create_prod.css' %}" />
  </head>
  <body>
    <div class="container">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} {{create_prod.as_p}}
        <button type="submit">Create</button>
      </form>
    </div>
  </body>
</html>
