{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heins' Coffee</title>
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <link rel="stylesheet" href="{% static 'navbar.css' %}" />
  </head>
  <body>
    <div class="containertrack">
      <div class="navbar">
        <div class="content">
          <div class="logo">
            <img
              style="padding-top: 3px"
              height="50em"
              src="{% static 'mhyrlogo.png' %}"
              alt=""
            />
          </div>

          <div class="links">
            <div class="track-order">
              <a href="{% url 'track' %}">
                <img src="{% static 'package-svgrepo-com.svg' %}" alt="" />
              </a>
            </div>

            <div class="menu">
              <a href="{% url 'menu' %}">
                <img src="{% static 'coffee-svgrepo-com.svg' %}" alt="" />
              </a>
            </div>

            <div class="cart">
              <a href="{% url 'cart' %}">
                <img src="{% static 'cart-svgrepo-com.svg' %}" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="home-bg">
        <div class="image">
          <img src="{% static 'bg1.png' %}" alt="" />
        </div>

        <div class="quote-button">
          <div class="quote">
            <h1>Your Company <br />Quote Here</h1>
          </div>

          <div class="button">
            <div class="viewmenu">
              <a href="{% url 'menu' %}"><button>View Menu</button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="why-heins">
        <div class="content">
          <div class="header">
            <h1>Why Our Business?</h1>
          </div>
          <div class="description">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
              pariatur. Minus, nobis delectus quod cum distinctio doloremque
              nulla sint ducimus exercitationem magnam magni deleniti dolorem
              atque suscipit excepturi harum recusandae! Accusamus fugiat vel
              esse illo optio asperiores? Alias, dolorum provident esse enim
              deleniti iusto rerum voluptatum libero blanditiis sit omnis animi
              minima, perferendis, ad sequi consequatur sed laboriosam minus
              ipsa?
            </p>
          </div>
        </div>
      </div>

      {% if mustTry %}
      <div class="specialoffers-bestselling">
        <h1>Must Try</h1>
        {% for prod in product %}
        <div class="content">
          <div class="special-offers">
            <div class="image">
              <img src="{{ prod.productImage.url }}" alt="" />
            </div>
            <div class="name-button">
              <p>{{ prod.name }}</p>
              <a href="{% url 'productview' prod.slug %}"
                ><button>View Product</button></a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %} {% if bestProduct %}
      <div class="specialoffers-bestselling">
        <h1 class="bestselling">Best Product</h1>
        {% for best in bestProduct %}
        <div class="content">
          <div class="special-offers">
            <div class="image">
              <img src="{{ best.productImage.url }}" alt="" />
            </div>
            <div class="name-button">
              <p>{{ best.name }}</p>
              <a href="{% url 'productview' best.slug %}"
                ><button>View Product</button></a
              >
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
      </div>
      {% endif %}

      <div class="contact-page">
        <div class="contact">
          <div class="facebook">
            <img src="{% static 'facebook-svgrepo-com.svg' %}" alt="" />
          </div>

          <div class="email">
            <a><p>youremail@gmail.com</p> </a>
          </div>
        </div>
      </div>
    </div>
    <!--^ container-->
  </body>
</html>
