{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'register.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="login-form">
        <div class="contents">
          <form action="" method="post">
            {% csrf_token %}
            <h1>REGISTER</h1>
            <div class="inputs">
              <input type="text" name="username" placeholder="Username" />
              <input type="password" name="password" placeholder="Password" />
            </div>

            <button type="submit">REGISTER</button>
            <p class="haveaccount">
              Already have an account? <a href="{% url 'login' %}">Login</a>.
            </p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
