@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inder&family=Lato:wght@300&family=Pacifico&family=Playfair+Display&display=swap');

body {
    margin: 0;
}

.home-bg {
    position: relative;
}

.home-bg .image img {
    width: 100%;
}

.quote-button {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.quote-button h1 {
    font-family: 'Dancing Script';
    font-size: 2em;
    color: white;
}

.main-menu {
    position: relative;
}

.main-menu .menu {
    background-image: url("./bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    margin-top: -3px;
}

.main-menu .for-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-menu .product-menu {
    margin: 1em 1em 2em;
}

.main-menu .header {
    color: white;
    font-family: 'Playfair Display';
    font-size: 8px;
    padding: 1em 3em;
}

.main-menu .main-product {
    background-color: #F2E8D4;
    border-radius: 10px;

    color: white;
    font-family: 'Dancing Script';
    text-align: center;

    padding: 0.5em;
    width: 6em;
}

.main-menu .main-product p {
    color: black;
}

.main-menu .product-menu a {
    text-decoration: none;
}