@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inder&family=Lato:wght@300&family=Pacifico&family=Playfair+Display&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: rgb(241, 240, 236);

  height: 100vh;
}

.hasorder {
  text-align: center;
  font-family: "Inder";
  font-size: 10px;
  background-color: rgba(253, 225, 154, 0.698);
  padding: 2em;
  margin: 5em 1em;
  border-radius: 10em;
  color: rgb(57, 57, 57);
}

.outfordeliv {
  font-size: 12px;
  color: rgb(244, 92, 92);
}
